---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import "./blog_index.scss";

const posts = (await getCollection("blog")).sort(
	(b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="BlogIndex">
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<div class="effect">
										<img
											src={post.data.heroImage}
											width="720px"
											height="360px"
											alt=""
										/>
									</div>
									<h4 class="title">{post.data.title}</h4>
									<h6 class="subtitle">{post.data.subtitle}</h6>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
